(* Constant file *)
CONST
	STATUS_IDLE : UINT := 0;
	STATUS_STARTING: UINT := 1;
	STATUS_READY : UINT := 2;
	STATUS_TESTING : UINT := 3;
	STATUS_DONE : UINT := 4;
	STATUS_RESETTING : UINT := 5;
	STATUS_STOPPING : UINT := 6;
	STATUS_ERROR : UINT := 7;
	
	TEST_STATUS_LOCAL : UINT := 16#0000;
	TEST_STATUS_REMOTE : UINT := 16#00d8;
	TEST_STATUS_DONE : UINT := 16#002a;

	RESULT_UNKNOWN : INT := -1;
	RESULT_NG : INT := 0;
	RESULT_OK : INT := 1;

	PT100R_A: INT := 5;		(* 0.5 [C] *)
	PT100R_B: INT := 1045;	(* 104.5 [C] *)
	PT100E_C: INT := 411;	(* 411 [C] *)

END_CONST
