
.App {

  background-size: cover; 
  background-color: #0babb0;
 
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.start-button {

  background-color: yellow;
 
  position: fixed;
  top: 100px;  height: 300px;
  left: 200px; width: 50%;
}
