
.MECTdate-style {
    color: white;
    background-color: black;
    width: 120px;
    height: 40px;
}

.MECTtime-style {
    color: white;
    background-color: black;
    width: 120px;
    height: 40px;
}

