
.demo {
    width: 100px; height: 50px; color: black; background-color: rgb(114, 159, 207);
}

.heartbeat {
    width: 100px; height: 50px; color: black; background-color: rgb(255,170,0);
}

.button-0 {
    width: 100px; height: 50px; color: black; background-color: grey;
}

.button-1 {
    width: 100px; height: 50px; color: white; background-color: red;
}

.led-0 {
    width: 100px; height: 50px; color: black; background-color: grey;
}

.led-1 {
    width: 100px; height: 50px; color: white; background-color: blue;
}

.p-barra {
    width: 100%; height: 75px; color: black; background-color: black;
    font-size: medium; text-align: center;
}

