(* Constant file *)
CONST
	STATUS_IDLE : UINT := 0;
	STATUS_STARTING: UINT := 1;
	STATUS_READY : UINT := 2;
	STATUS_TESTING : UINT := 3;
	STATUS_DONE : UINT := 4;
	STATUS_RESETTING : UINT := 5;
	STATUS_STOPPING : UINT := 6;
	STATUS_ERROR : UINT := 7;
	
	TEST_STATUS_LOCAL : UINT := 16#0000;
	TEST_STATUS_REMOTE : UINT := 16#00d8;
	TEST_STATUS_DONE : UINT := 16#002a;

	RESULT_UNKNOWN : INT := -1;
	RESULT_NG : INT := 0;
	RESULT_OK : INT := 1;

    TPAC1007_4AA : UDINT := 1;
	TPAC1007_3 : UDINT := 2;
	TPLC100 : UDINT := 3;
	TPAC1006 : UDINT := 4;
	TPAC1008 : UDINT := 5;
	TP1043_485 : UDINT := 6;
	TP1043_232 : UDINT := 7;
	TP1043_CAN : UDINT := 8;
	TPAC1007_LV : UDINT := 9;
	
	
END_CONST
